<%- include('../partials/header') %>

<h2>Flight List</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departure</th>
    </tr>
  </thead>
  <tbody>
    <!-- get the data that was pulled using .find(). Loop
        through it using forEach in order to grab the 
        specific piece of data that we want and then organize 
        it on the page in the following way: -->
    <% flightsData.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
      </tr>
    <% }); %>
  </tbody>
</table>