<%- include('../partials/header') %>

    <section id="show-page">
        <div>Airline: </div>
        <div><%= flightData.airline %></div>
        <div>Airport: </div>
        <div><%= flightData.airport %></div>
        <div>Flight Number: </div>
        <div><%= flightData.flightNo %></div>
        <div>Departs: </div>
        <div><%= flightData.departs %></div>
        <div>Destination: </div>
        <div><%= flightData.destination %></div>
    </section>
</body>